body {
    background-color: [[setting:bodybgcolor]];
}

a {
    color: [[setting:linkcolor]];
}

a:hover {
    color: [[setting:linkhovercolor]];
}


.block_tree li p.active_tree_node a, 
.block_tree li p.active_tree_node a:hover {
    background-color: [[setting:menubgcolor]];
}